
body{
	font-family: Verdana;
	font-size: 85%;
	margin: 0px;
}


.kategorie, .kosik, .login, #frmloginNForm-login, .contact, .askhelp, .baskettable, #frminBasketNForm-toorder, #backtoselect, #frmregistrationNForm-register, #frmforgottenPasswordForm-ok, #frmkontaktForm-send, #frmdodaniNForm-order{
	border: solid 1px #c0c0c0;
	border-radius: 5px;
	overflow: hidden;
}

.category, .contact{
	display: block;
	font-size: 115%;
	padding: 7%;
	color: #000;
	text-decoration: none;
	text-shadow: 2px 1px 1px #444;

	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c0c0c0), to(#FFF));

	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #FFF, #c0c0c0);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #FFF, #c0c0c0);

	/* IE 10 */
	background: -ms-linear-gradient(top, #FFF, #c0c0c0);

	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #FFF, #c0c0c0);
}


.category:hover{

	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(bottom, #414140, #cacaca);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(bottom, #414140, #cacaca);

	/* IE 10 */
	background: -ms-linear-gradient(bottom, #414140, #cacaca);

	/* Opera 11.10+ */
	background: -o-linear-gradient(bottom, #414140, #cacaca);
}

.menuactual{
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(bottom, #414140, #cacaca);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(bottom, #414140, #cacaca);

	/* IE 10 */
	background: -ms-linear-gradient(bottom, #414140, #cacaca);

	/* Opera 11.10+ */
	background: -o-linear-gradient(bottom, #414140, #cacaca);
}

#menu{
	display: block;
	width: 100%;

 /* Safari 5.1+, Chrome 10+ */
 background: -webkit-linear-gradient(bottom, #828282, #c1c1c1) no-repeat border-box, -webkit-linear-gradient(bottom, #1d1d1d, #5d5d5d);

 /* Firefox 3.6+ */
 background: -moz-linear-gradient(bottom, #828282, #c1c1c1) no-repeat border-box, -moz-linear-gradient(bottom, #1d1d1d, #5d5d5d);

 /* IE 10 */
 background: -ms-linear-gradient(bottom, #828282, #c1c1c1) no-repeat border-box, -ms-linear-gradient(bottom, #1d1d1d, #5d5d5d);

 /* Opera 11.10+ */
 background: -o-linear-gradient(bottom, #828282, #c1c1c1)  no-repeat border-box, -o-linear-gradient(bottom, #1d1d1d, #5d5d5d);

 background-size: 100% 50%, 100% 50%;
 background-position: 0% 0%, 05, 50%;
 background-origin: padding-box, padding-box;
 border-top: solid 1px #a0a0a0;
 border-bottom: solid 1px #a0a0a0;
}

#menu a{
	font-size: 108%;
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: #FFF;
	text-shadow: 1px 1px 1px #444;
	padding-top: 1.5%;
	padding-bottom: 3%;
}

#menu table {
	border-collapse: collapse;
	margin-left: 3%;
}

#menu table td{
	padding: 0px;
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	/*width: 33%;*/
	text-align: center;
}

.find{
	float: right;
	margin-right: 3%;
	width: 17%;
}

input.hledat{
	display:none;

}

#frmsearchForm-search{
	border-radius: 10px;
	margin-top: 2px;
	padding-left: 20px;
	padding-right: 5px;
	width:80%;
	float: right;
	background: url('/images/lupa.png') no-repeat 2px 2px #FFF;
}

.sideleft{
	float: left;
	width: 17%;
}

.sideright{
	float: right;
	width: 17%;
}

.windowtitle a{
	text-decoration: none;
	color: #000;
}

.windowtitle, .thtitle{
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c0c0c0), to(#FFF));

	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #FFF, #c0c0c0);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #FFF, #c0c0c0);

	/* IE 10 */
	background: -ms-linear-gradient(top, #FFF, #c0c0c0);

	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #FFF, #c0c0c0);
}

.windowtitle{
	text-align: left;
	padding: 2%;
	padding-left: 15%;
	font-size: 115%;
}

.login{
	margin-top: 4%;
}

.login table{
	width: 100%;
	padding: 1%;
}

#frmloginNForm-nick, #frmloginNForm-password{
	border: solid 1px #c1c1c1;
	width: 96%;
	padding-left: 2%;
	padding-top: 4%;
	vertical-align: bottom;
	margin-top: 1%;
}

#frmloginNForm-login, #frminBasketNForm-toorder, #backtoselect, #frmregistrationNForm-register, #frmforgottenPasswordForm-ok, #frmkontaktForm-send, #frmdodaniNForm-order{
	padding: 2%;

	/* Safari 5.1+, Chrome 10+ */
	background: -webkit-linear-gradient(bottom, #70b449, #dafac9) no-repeat border-box, -webkit-linear-gradient(bottom, #93d470, #439813);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(bottom, #70b449, #dafac9) no-repeat border-box, -moz-linear-gradient(bottom, #93d470, #439813);

	/* IE 10 */
	background: -ms-linear-gradient(bottom, #70b449, #dafac9) no-repeat border-box, -ms-linear-gradient(bottom, #93d470, #439813);

	/* Opera 11.10+ */
	background: -o-linear-gradient(bottom, #70b449, #dafac9)  no-repeat border-box, -o-linear-gradient(bottom, #93d470, #439813);

	background-size: 100% 50%, 100% 50%;
	background-position: 0% 0%, 05, 50%;
	background-origin: padding-box, padding-box;
	border: solid 1px #a0a0a0;

	color: #FFF;
	font-style: italic;
	text-shadow: 1px 1px 1px #222;

	margin-top: 1%;
	margin-bottom: 1%;

	float: right;
	cursor: pointer;
}

.loginlinks a{
	color: #000;
	font-style: italic;
	text-decoration: none;
}


.kosik{
	text-align: center;
	height: 200%;
	margin-top: 4%;
	color: #999;
}

.telico{
	width: 18%;
	float: left;
	margin-right: 6%;
}


.askhelp{
	display: block;
	margin-top: 8%;
	padding: 3%;
	margin-bottom: 16%;
	text-decoration: none;
}

.askhelp:hover{
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c0c0c0), to(#FFF));

	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #FFF, #c0c0c0);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #FFF, #c0c0c0);

	/* IE 10 */
	background: -ms-linear-gradient(top, #FFF, #c0c0c0);

	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #FFF, #c0c0c0);
}

.askhelp p{
	color: #999;
	margin-bottom: 0px;
}

.helpme{
	color: #d200ff;
	font-size: 125%;
}

.infoico{
	float: right;
	width: 30%;
}

a.email{
	color: #ff0000;
	text-decoration: none;
	text-shadow: none;
	font-size: 105%;
}

.contact p{
	margin-top: 12%;
	margin-bottom: 5%;
}

.contact{
	text-align: center;
	font-size: 134%;
}

#main{
	margin-left: 3%;
	margin-right: 3%;
	padding-top: 2%;
}

footer{
	border-top: ridge 2px #bcbcbc;
	clear: both;
	margin: 3%;
	padding-top: 0.5%;
}

footer a{
	color: #636363;
	text-decoration: none;
}


footer td{
	border-right: solid 1px #bcbcbc;
}

img.left{
	width: 18%;
	margin-left: 12%;
}

.basketprice{
	font-size: 120%;
	color: #000;
}

.cart{
	width: 15%;
}

.logoutlink{
	float: right;
}

.logged{
	padding: 3%;
	padding-left: 15%;
	color: #999;
	text-align: left;
}

.logged a{
	color: #000;
	text-decoration: none;
	font-size: 120%;
	margin: 3%;
}

.logged button{
	padding: 3%;

	/* Safari 5.1+, Chrome 10+ */
	background: -webkit-linear-gradient(bottom, #f23b3b, #f3cece) no-repeat border-box, -webkit-linear-gradient(bottom, #ea6b6b, #e40808);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(bottom, #f23b3b, #f3cece) no-repeat border-box, -moz-linear-gradient(bottom, #ea6b6b, #e40808);

	/* IE 10 */
	background: -ms-linear-gradient(bottom, #f23b3b, #f3cece) no-repeat border-box, -ms-linear-gradient(bottom, #ea6b6b, #e40808);

	/* Opera 11.10+ */
	background: -o-linear-gradient(bottom, #f23b3b, #f3cece)  no-repeat border-box, -o-linear-gradient(bottom, #ea6b6b, #e40808);

	background-size: 100% 50%, 100% 50%;
	background-position: 0% 0%, 05, 50%;
	background-origin: padding-box, padding-box;
	border: solid 1px #a0a0a0;

	color: #FFF;
	font-style: italic;
	text-shadow: 1px 1px 1px #222;

	margin-top: 1%;
	margin-bottom: 1%;

	float: right;
	cursor: pointer;

	border: solid 1px #c0c0c0;
	border-radius: 5px;
	overflow: hidden;
}

.categorybox0{
	border: solid 1px #9c9c9c;
	border-radius: 10px;
	box-shadow: 0px 5px 8px #9c9c9c, 5px 0px 8px #9c9c9c, 0px -5px 8px #9c9c9c, -5px 0px 8px #9c9c9c;
	width: 41%;
	float: left;
	margin-bottom: 3%;
	margin-left: 8.5%;
	margin-right: -5%;
	overflow: hidden;
	text-align: center;
}

.categorybox1{
	border: solid 1px #9c9c9c;
	border-radius: 10px;
	width: 30%;
	float: left;
	margin-bottom: 3%;
	margin-left: 4%;
	margin-right: -2%;
	overflow: hidden;
	text-align: center;
}

.categorybox0 div.windowtitle,.categorybox1 div.windowtitle{
	padding: 0;
	padding-top: 1%;
	box-shadow: 0px 3px 5px #9c9c9c;
}

.ridge{
	box-shadow: 0px -2px 2px #727171;
	height: 1px;
	background: #9c9c9c;
}

.categoryh2{
	width: 50%;
	margin: 0;
	margin-top: 2%;
	margin-left: 8.5%;
	margin-bottom: 3%;
	font-weight: normal;
	font-size: 220%;
}

.windowtitle h2, .basket th{
	margin: 2%;
	margin-top: 1%;
	font-weight: normal;
	font-size: 120%;
	color: #000;
}

.categorybox0 img,.categorybox1 img{
	margin-top: 3%;
}

.categorybox0:hover{
	box-shadow: 0px 2px 5px #9c9c9c, 2px 0px 5px #9c9c9c, 0px -2px 5px #9c9c9c, -2px 0px 5px #9c9c9c;
}

.categorybox0:hover .windowtitle,.categorybox1:hover .windowtitle{
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(bottom, #414140, #cacaca);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(bottom, #414140, #cacaca);

	/* IE 10 */
	background: -ms-linear-gradient(bottom, #414140, #cacaca);

	/* Opera 11.10+ */
	background: -o-linear-gradient(bottom, #414140, #cacaca);
}

.products{
	margin: 2%;
	width: 96%;
}

.products td{
	color: #565656;
	border-bottom: solid 1px #c1c1c1;
	padding: 2%;
	vertical-align: top;
}

.products td a{
	text-decoration: none;
	color: #565656;
}

.products tr td h2{
	font-weight: normal;
	color: #000;
}

tr.last td{
	border:none;
}

.tdimg{
	text-align: center;
	width: 20%;
}

.green{
	color: #0aa602;
}

.orange{
	color: #e89901;
}

.tableheader{
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c0c0c0), to(#FFF));

	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #FFF, #c0c0c0);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #FFF, #c0c0c0);

	/* IE 10 */
	background: -ms-linear-gradient(top, #FFF, #c0c0c0);

	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #FFF, #c0c0c0);

	border: solid 1px #c1c1c1;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	overflow: hidden;
}

.tableheader label{
	font-weight: normal;
	color: #5f5f5f;
}

.tablefooter{
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c0c0c0), to(#FFF));

	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #FFF, #c0c0c0);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #FFF, #c0c0c0);

	/* IE 10 */
	background: -ms-linear-gradient(top, #FFF, #c0c0c0);

	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #FFF, #c0c0c0);

	border: solid 1px #c1c1c1;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	overflow: hidden;
	padding: 0.5%;
}

.lefthref{
	float: left;
	text-align: left;
}

.lefthref a, .righthref a{
	font-weight: normal;
	color: #565656;
	text-decoration: none;
}

.lefthref img{
	width: 8%;
	float: left;
	margin-left: 2%;
}

.righthref{
	float: right;
	text-align: right;
}

.righthref img{
	width: 8%;
	float: right;
	margin-right: 2%;
}

.righthref img{
	width: 8%;
	float: right;
	margin-right: 2%;
}

.top img{
	width: 25%;
}

.sort a{
	display: block;
	text-align: center;
	float: left;
	border-left: solid 1px #c1c1c1;
}

.sort a:hover, .lefttop a:hover{
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(bottom, #414140, #cacaca);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(bottom, #414140, #cacaca);

	/* IE 10 */
	background: -ms-linear-gradient(bottom, #414140, #cacaca);

	/* Opera 11.10+ */
	background: -o-linear-gradient(bottom, #414140, #cacaca);
}

.sort img{
	width: 25%;
	float: none;
	margin: 1%;
}

.lefttop{
	float: left;
}

.lefttop img{
	width: 25%;
	float: none;
	margin: 1%;
}

.lefttop a{
	display: block;
	width: 100%;
	border-right: solid 1px #c1c1c1;
}

.tablename{
	color: #000;
	font-weight: normal;
}

td.tableview{
	text-align: center;
	border: solid 1px #c1c1c1;
}

.collapse{
	border-collapse: collapse;
}

h3.breadcumb{
	font-weight: normal;
}

.breadcumb{
	font-size: 134%;
}

.breadcumb-active{
	color: #F00;
}

.bradcumb-arrow{
	width: 1.5%;
	padding-left: 1%;
	padding-right: 1%;
}

.basketh2{
	font-size: 134%;
	font-weight: normal;
}

table.basket{
	width: 100%;
	border-collapse: collapse;
}

table.basket th{
	border-left: 1px solid #C0C0C0;
	padding: 0px;
}

table.basket td{
	border-bottom: 1px solid #C0C0C0;
	padding: 1%;
}

.thtitle{
	font-size: 110%;
	padding: 3px;
}

.totalprice{
	font-size: 134%;
	padding: 2%;
	text-align: right;
}

.baskettable{

}

.productcount{
	text-align: center;
}

.productcount input{
	border: 1px solid #C0C0C0;
}

.deleteitem{
	color: #F00;
	text-decoration: none;
	float: right;
}


.deleteitem img{
	width: 7%;
}

.foo{
	font-style: italic;
	color: #44b61c;
}

#frminBasketNForm-toorder, #backtoselect, #frmdodaniNForm-order{
	padding-top: 1%;
	padding-bottom: 1%;
}

#backtoselect{
	/* Safari 5.1+, Chrome 10+ */
	background: -webkit-linear-gradient(bottom, #7b7b7b, #d1d1d1) no-repeat border-box, -webkit-linear-gradient(bottom, #727272, #545454);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(bottom, #7b7b7b, #d1d1d1) no-repeat border-box, -moz-linear-gradient(bottom, #727272, #545454);

	/* IE 10 */
	background: -ms-linear-gradient(bottom, #7b7b7b, #d1d1d1) no-repeat border-box, -ms-linear-gradient(bottom, #727272, #545454);

	/* Opera 11.10+ */
	background: -o-linear-gradient(bottom, #7b7b7b, #d1d1d1)  no-repeat border-box, -o-linear-gradient(bottom, #727272, #545454);

	background-size: 100% 50%, 100% 50%;
	background-position: 0% 0%, 05, 50%;
	background-origin: padding-box, padding-box;
	border: solid 1px #a0a0a0;
	float: left;
}

.registration1, #company_data_table, .registration2{
	width: 100%;
	color: #999;
}

.registration1 input,select, #company_data_table input, select, #frmforgottenPasswordForm-nickoremail, #frmkontaktForm-email, #frmkontaktForm-message{
	border: solid 1px #c1c1c1;
	padding-left: 2%;
	padding-top: 1%;
	width: 60%;
}

.registration1 select, #company_data_table select{
	width: 62%;
}

.rtdf{
	width: 35%;
}

.rtdf2{
	width: 65%;
}

.red{
	color: red;
}

#company_data_table{
	display: none;
}

#frmregistrationNForm-register, #frmforgottenPasswordForm-ok{
	float: left;
}

#frm-forgottenPasswordForm table{
	width: 100%;
}

#frm-forgottenPasswordForm td{
	width: 50%;
}

#frm-forgottenPasswordForm label{
	color: #999;
	font-weight: normal;
}

#kontakt h2{
	font-weight: normal;
	color: #000;
}

#kontakt{
	border-radius: 5px;
	box-shadow: -5px 5px 5px #c4c4c4, 1px -1px 6px #c4c4c4;
	border: solid 1px #c4c4c4;
	padding: 2%;
	margin-top: 1%;
	margin-bottom: 3%;
	color: #999;
}

.kontakt label{
	color: #999;
}

#frmkontaktForm-send{
	float: none;
	padding-top: 1%;
	padding-bottom: 1%;
}

#fadresa1, #dadresa1{
	display: none;
}

#frmdodaniNForm-dadresa, #frmdodaniNForm-fadresa, #frmdodaniNForm-pozn{
	width: 100%;
}

#frmdodaniNForm-newdadresa, #frmdodaniNForm-newfadresa{
	width: 99%;
	height: 50px;
}

table.dodanitab {
	width: 100%;
}

table.dodanitab td{
	border: none;
}

.orderendh3{
	color: #6D6D6D;
	font-size: 160%;
}

.orderendh1{
	font-size: 240%;
}

.inorder{
	width: 100%;
	border-collapse: collapse;
}

.inorder th{
	border: none !important;
	font-weight: bold;
}

#frmdodaniNForm-dodani, #frmdodaniNForm-platba{
	width: 80%;
}
