<h3>Vážený zákazníku</h3>
<p>
Nové heslo na <a href="http://www.mercatores.cz">Mercatores.cz</a> pro uživatele {$user} je <b>{$password}</b>. Toto heslo aktivujete kliknutím na následující odkaz:
</p>
<br>
<a href="{!$link}">{!$link}</a>
<p >
Pokud se Vám nedaří na odkaz kliknout, zkopírujte jej do adresního řádku prohlížeče.
</p>
<p>
Pokud jste o nové heslo nežádali, považujte tento email za bezpředmětný.
</p>
<p>
S pozdravem<br>
Tým Mercatores
</p>