<h3>Vážený zákazníku</h3>
<p>
Děkujeme za Vaši registraci, kliknuknutím na následující odkaz registraci dokončíte.
</p>
<br>
<a href="{!$link}">{!$link}</a>
<p>
Pokud se Vám nedaří na odkaz kliknout, zkopírujte jej do adresního řádku prohlížeče.
</p>
<p>
S pozdravem<br>
Tým Mercatores
</p>