{!$message}
<br><hr>
<div style="font-size:10px;">
<p>
Pokud již nechcete dostávat obchodní sdělení z internetového obchodu Mercatores, klikněte na následující odkaz:
</p>
<p>
	<a href="{!$link}">{!$link}</a>
</p>
<p>
Pokud se vám nedaří na odkaz kliknout, zkopírujte jej celý do adresního řádku prohlížeče.
</p>
</div>