<!DOCTYPE html>
<html>
  <head>
    <meta name="Description" content="" >
    <meta name="Keywords" content="" >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <meta name="Distribution" content="Global" >
    <meta name="Author" content="Softweb.cz - www.softweb.cz" >
    <meta name="Robots" content="all, index, follow" >
		<meta name="google-site-verification" content="lWMcmVi37gM16Yw8n7IOCZhlgCgcu8oAfkTpm0Ha-AU">
    <title>Mercatores - {$title}</title>
		<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/style.css" type="text/css">
		<link rel="stylesheet" type="text/css" href="{$basePath}/css/jquery.lightbox-0.5.css" media="screen" />

		<script src="{$basePath}/js/jquery.js" type="text/javascript"></script>
		<script src="{$basePath}/js/jquery.livequery.js" type="text/javascript"></script>
		<script src="{$basePath}/js/jquery.editinplace.0.4.js" type="text/javascript"></script>
		<script src="{$basePath}/js/jquery.nette.js" type="text/javascript"></script>
		<script src="{$basePath}/js/jquery-ui.js" type="text/javascript"></script>
		<script src="{$basePath}/js/netteForms.js" type="text/javascript"></script>
		<script src="{$basePath}/js/jquery.lightbox-0.5.js" type="text/javascript" ></script>
		<script src="{$basePath}/ckeditor/ckeditor.js" type="text/javascript"></script>
		<!--[if IE]>
		<style type="text/css">
			select{ background:white; color:black !important;height:20px; }
		</style>
		<![endif]-->
  </head>
  <body>
		<div id="page">
			<div id="header">
				<a href="/">
					<img class="left" style="filter:progid:DXImageTransform.Microsoft.AlphaImageLoader( src='/images/logo.png'); _width:1px; _height:1; " src="/images/logo.png">
				</a>
				{include 'menu.latte'}
			</div>
  		<div id="main">
  			<div class="sideleft">
  			{include 'treeBox.latte'}
  			</div>
				<div class="sideright">
					<div class="contact">
						<img src="/images/telico.png" class="telico">
						<span class="telefon">736 402 064</span>
						<p>
						<a href="mailto:shop@mstores.cz" class="email">shop@mstores.cz</a>
						</p>
					</div>
					{snippet basket}
						{include 'basketBox.latte'}
					{/snippet}
					<div class="login">
						{include 'loginBox.latte'}
					</div>
					<a href="" class="askhelp">
						<img src="/images/infoico.png" class="infoico">
						<span class="helpme">Potřebujete poradit?</span>
						<br><br>
						<p>Napište nám a my Vám rádi poradíme.</p>
					</a>
				</div>
 				<div class="content">
				{foreach $flashes as $flash}
					<div class="flash {$flash->type}" onClick="$(this).hide()">{!$flash->message}</div>
				{/foreach}
  			{include #content}
  			</div>
  		</div>
    </div>
  	<footer>
			<table>
				<tr>
					<td>&nbsp;&nbsp;<a href="">Jak nakupovat</a>&nbsp;&nbsp;</td>
					<td>&nbsp;&nbsp;<a href="">Možnosti dopravy</a>&nbsp;&nbsp;</td>
					<td>&nbsp;&nbsp;<a href="">Možnosti platby</a>&nbsp;&nbsp;</td>
					<td>&nbsp;&nbsp;<a href="">Reklamace</a>&nbsp;&nbsp;</td>
					<td>&nbsp;&nbsp;<a href="">Sleva pro studenty</a>&nbsp;&nbsp;</td>
					<td style="border: none;">&nbsp;&nbsp;<a href="">Akce</a>&nbsp;&nbsp;</td>
				</tr>
			</table>
 		</footer>
    {control ga}
  </body>
</html>
