<div class="kosik">
 	<div class="windowtitle"><a href="{plink basket}">Košík</a></div>
 	<div style="padding: 4%">
	{if $user->isLoggedIn()}
 		{if $basket['pocet']}
		<div style="padding-left: 15%;text-align: left;">Cena zboží:</div>
		<span class="basketprice">{$basket['cena']|currency:czk:$mena}</span>
		<a href="{plink basket}"><img src="/images/cart-big.png" class="cart"></a>
		<br><br>
 		{else}
		<div style="padding-left: 15%;text-align: left;">Váš košík je prázdný.</div>
 		<br><br>
 		{/if}
 	{else}
 		<div style="padding-left: 15%;text-align: left;">Váš košík je prázdný.</div>
 		<br><br>
 	{/if}
	</div>
</div>
