	<div class="windowtitle">Přihlášení</div>
	{if $user->isInRole(Authenticator::REGISTERED)}
  	<div class="logged">
		Přihlášený uživatel:<br><br>
		<a href="{plink Frontend:registration}">
  	{$user->getIdentity()->data['realname']}
  	</a>
		<br><br>
		<a href="{plink logout!}" class="logoutlink"><button>&nbsp;Odhlásit&nbsp;se&nbsp;</button></a>
		</div>
  {else}
  	{widget loginNForm, begin}
  	{widget loginNForm, errors}
  	<table>
  		<tr><td>{$control['loginNForm']['nick']->control}</td></tr>
		  <tr><td>{$control['loginNForm']['password']->control}</td></tr>
  		<tr><td>{$control['loginNForm']['login']->control}</td></tr>
  		<tr><td class="loginlinks"><a href="{plink registration}">Registrovat se</a></td></tr>
  		<tr><td class="loginlinks"><a href="{plink forgotten}">Zapomenuté heslo</a></td></tr>
  	</table>
  	{widget loginNForm, end}
  {/if}
