<div id="menu">
	<div class="find">
		{control searchForm, begin}
		{control searchForm, errors}
		{$control['searchForm']['search']->control}
		{$control['searchForm']['ok']->control}
		{control searchForm, end}
	</div>
	<table>
		<tr>
			<td>
				{ifCurrent kontakt}
				&nbsp;&nbsp;&nbsp;&nbsp;Kontakt&nbsp;&nbsp;&nbsp;&nbsp;
				{else}
				<a href="{plink kontakt}">&nbsp;&nbsp;&nbsp;&nbsp;Kontakt&nbsp;&nbsp;&nbsp;&nbsp;</a>
				{/ifCurrent}
			</td>
			<td>
				{ifCurrent podminky}
				&nbsp;&nbsp;&nbsp;&nbsp;Obchodní&nbsp;podmínky&nbsp;&nbsp;&nbsp;&nbsp;
				{else}
				<a href="{plink podminky}">&nbsp;&nbsp;&nbsp;&nbsp;Obchodní&nbsp;podmínky&nbsp;&nbsp;&nbsp;&nbsp;</a>
				{/ifCurrent}
			</td>
		{if $user->isInRole(Authenticator::REGISTERED)}
			<td>
			{ifCurrent objednavky}
			&nbsp;&nbsp;&nbsp;&nbsp;Moje&nbsp;objednávky&nbsp;&nbsp;&nbsp;&nbsp;
			{else}
			<a href="{plink objednavky}">&nbsp;&nbsp;&nbsp;&nbsp;Moje&nbsp;objednávky&nbsp;&nbsp;&nbsp;&nbsp;</a>
			{/ifCurrent}
			</td>
		{/if}
		</tr>
	</table>
</div>
