{block #content}
<div style="float: left; width: 61%; padding: 2%;text-align:center;">
<h3 class="orderendh3">Vaše objednávka byla úspěšně odeslána k vyřízení pod číslem {$orderid}</h3>
<h1 class="orderendh1">Děkujeme Vám za Váš nákup.</h1>
<div style="padding: 16%">
	<a href="/" style="color: #000;text-decoration: none;font-size: 150%;">Přejít na hlavní stránku</a>
</div>
<h3 class="orderendh3">Informace o objednávce byly poslány také na email {$userdata['email']}</h3>.

