{block #content}

<h2>Výsledky hledání</h2>
{if isset($products) && is_array($products)}
{foreach $products as $product}
	<div class="produkt">
		<div class="nadpis">
			<a href="{plink detail 'path'=>$product->path,'produkt'=>$product->link}">
			<h2>{$product->jmeno|truncate:25}</h2>
			</a>
		</div>
 			<a href="{plink detail 'path'=>$product->path,'produkt'=>$product->link}">
				<img height="120" style="max-width:164px; _width: expression(document.body.clientWidth > 164? '164px' : 'auto' );" src="{$baseUri}/images/uploaded/medium{$product->image}.jpg">
			</a>
			<a href="{plink detail 'path'=>$product->path,'produkt'=>$product->link}">
				<p>
				{!$product->popis|stripTags|truncate:120}
				</p>
			</a>
		<div class="cena">
		{if $product->pocetVar == 1}
			
			<div class="cenastara">
			{if $product->sklad}{$product->sklad}x skladem{/if}
			{if $product->sleva > 0}{$product->sleva}% sleva{/if}
			</div>
			<div class="cenanova">{if $showprices}{$product->cena|currency:czk:$mena}{/if}</div>
			</div>
			<div class="productform">
			{if $showprices}
			{control $product->form begin}
			{control $product->form errors}
			{$product->form['pocet']->control}
			{$product->form['tobasket']->control}
			{control $product->form end}
			{/if}
			</div>
		{else}
			<div class="cenastara">{if $product->sklad}Skladem{/if}</div>
			<div class="cenanova">{if $showprices}<span class="cenacislo">od</span> {$product->cena|currency:czk:$mena}{/if}</div>
			</div>
		{/if}
		</div>
{/foreach}
{else}
Hledaný produkt nebyl nalezen.
{/if}
